# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL=""
DB_HOST="localhost"
# CHECK YOUR DATABASE CONFIGURATION (MYSQL)
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=8000

#Please set to "development" if you are debugging, "production" if you are going to deploy this on a server
NODE_ENV="development"
#DATABASE URL format
# mysql://<your_mysql_username>:<your_mysql_username's_password>@<domain_name (eg. localhost, domain.com)>:<MYSQL_PORT>/<database_name>?charset=utf8mb4